* {
    font-family: 'Urbanist', sans-serif;
}
.mt-custom {
    margin-top: 100px;
}

/* Navbar */
#navbar {
    transition: .5s;
}
header {
    background-color:#f1f5f9;
    border-radius: 15px;
}



.btn-primary-custom {
    background-color: #2a2a2a;
    padding: 5px, 10px;
    border: 2px solid #2a2a2a;
}

.btn-primary-custom:hover {
    background-color: #ffffff !important;
    border: 2px solid #2a2a2a;
    color: #2a2a2a !important;
}

.card-custom {
    width: 250px;
    height: 250px;
    
    border-radius: 15px;
    
}

.card-custom2 {
    justify-content: center;
}
/* section ultimi annunci */

.product-card-custom {
    border: 2px solid #ececec;
    padding: 20px;
    width: 100%;
    max-width: 296px;
    border-radius: 25px;
}

.price-tag {
    background-color: #ececec;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.icon-container > i {
    cursor: pointer;
    color: #2a2a2a;
}

.icon-container {
    display: flex;
    justify-content: end;
}

.announcements-container {
    background-color: #f1f5f9;
    border-radius: 50px;
    height: 60vh;
}

/* review section */

.review-card {
    border: 2px solid #ececec;
    padding: 30px;
    border-radius: 25px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-container > i {
    font-size: larger;
}

/* swiper */
.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}

.swiper-slide {
background-position: center;
background-size: cover;
/* width: 300px;
height: 300px; */
}

/* .swiper-slide img {
display: block;
width: 100%;
} */

.cornice2 {
    border: solid 4px black;
    border-radius: 50%;
    width: 275px;
    height: 275px;
}

.box-foto-piccola2 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.asus {
    background-image: url(./media/4eb69a8f7b19fd9c81d55b70f1a4fe9d.png);
    background-size: 135%;
    background-position: center;
}

.ryzen {
    background-image: url(./media/zotac_gaming_logo.png);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}